@use '../../../styles/constants.scss' as *;
.container {
    width: 30rem;
    border-radius: 10px;
    background-color: $primary;
    color: $secondary-white;


    .wrapper {
        padding: 2rem;
        display: flex;
        flex-direction: column;

        .formContainer {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            
            .inputWrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                label {
                    color: $secondary-white;
                }
                .passwordWrapper {
                    position: relative;
                    display: flex;
                    width: 100%;
                    .passwordinput {
                        width: 100%;
                    }
                    .togglePassword {
                        position: absolute;
                        left: 10px;
                        top: 55%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        color: #666;
                        }  
                }

                .input, .passwordinput {
                    padding: 1rem;
                    border-radius: 12px;
                    border: 1px solid transparent;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(6px);
                    -webkit-backdrop-filter: blur(6px);
                    color: #fff;
                    transition: all 0.3s ease;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.6);
                    }

                    &:focus {
                        border: 1px solid transparent;
                        background: rgba(255, 255, 255, 0.25);
                    }
                }

                .inputError {
                    border-color: #e11d48 !important; // قرمز
                }

                .errorText {
                    color: #e11d48;
                    font-size: 0.85rem;
                    margin-top: 4px;
                } 
            }
            .submitBtn {
                border: none;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                background: $secondary-white;
                padding: 1rem;
                border-radius: 12px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }

                span {
                    color: $primary;
                    transition: all 0.3s ease;
                }
            }
            .forgetPass {
                cursor: pointer;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                color: $secondary;
                &:hover {
                    color: #fff;
                    transform: scale(1.02);
                }
            }
        }
        .registerLink {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                color: $secondary;
                &:hover {
                    color: #fff;
                    transform: scale(1.02);
                }
            }
        }
    }
}