$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #1c1c1c;
$secondary: #b5b2b5;
$secondary-white: #E7E7E7;
$white: #f3eeee;
$red: #EF233C;
$grey: #2B2D42;
$light-grey: #565657;
$success: #2ECC71;
$warning: #F1C40F;
$danger: #C1121F;
$blue: #3b82f6;
$new: #98fec2;
$new2: hsl(211, 100%, 80%);