@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Vazirmatn', sans-serif;
  color: #E7E7E7;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
a {
  text-decoration: none;
}

button, input, textarea, select, option {
  font-family: inherit
}

button {
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-weight: bold;
  transition: all 300ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}