@use '../../../../styles/constants.scss' as *;
.countCard {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 1rem;
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border-radius: 8px;
      border: none;
      font-size: 20px;
    }
  }
  .body {
    font-weight: bold;
    font-size: 20px;
  }
  .footer {
    color: $blue;
  }
}