@use '../../../styles/constants.scss' as *;
.infoBox {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;

    .container {
        @media (max-width: $sm) {
            flex-direction: column;
        }
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: #646464;
        padding: 2rem;
        gap: 1rem;

        .editIcon {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 1rem;
            margin-left: 1rem;
            cursor: pointer;
            transition: all 300ms ease;

            &:hover {
                transform: scale(1.05);
            }
        }

        .avatar {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            img {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
            }
        }

        .baseInfo {
            padding: 2rem;
            @media (max-width: $sm) {
                flex: 2;
            }
            flex: 3;

            ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                list-style: none;

                .infoItem {
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    
                    @media (max-width: $sm) {
                        // flex-direction: column;
                    }

                    span {
                        font-weight: normal;
                    }
                    .validNumber {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}