@use '../../../styles/constants.scss' as *;
.infoBox {
    width: 100%;
    height: fit-content;
    margin-top: 1.5rem;

    .container {
        @media (max-width: $sm) {
            flex-direction: column;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f2f2;
        border: none;
        color: #646464;
        padding: 2rem;
        border-radius: 10px;
        gap: 1rem;

        .avatar {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            img {
                width: 10rem;
                height: 10rem;
                border-radius: 10px;
            }
        }

        .baseInfo {
            @media (max-width: $sm) {
                flex: 2;
            }
            flex: 3;

            ul {
                @media (max-width: $sm) {
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: repeat(4, 1fr);
                    display: flex;
                    flex-direction: column;
                }
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 2rem;
                list-style: none;

                li {
                    display: flex;
                    font-weight: bold;
                    font-size: 18px;
                    gap: .7rem;
                    @media (max-width: $sm) {
                        // flex-direction: column;
                    }

                    span {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}