@use '../../../styles/constants.scss' as *;
.formWrapper {
  width: 900px;
  max-width: 900px;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  margin: auto;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    input,
    select {
      padding: 12px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 14px;
    }
  }

  .btn-primary {
    margin-top: 30px;
    background: #4f7cff;
    color: white;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}