@use '../../styles/constants.scss' as *;
.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $secondary-white;
  overflow-y: scroll;

  @media(max-width:$sm) {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    gap: .2rem;
    width: 100%;

    .content {
      padding: 1rem;
    }
    @media (max-width: $sm) {
      margin-right: 0;
      margin-bottom: 5rem;
    }
  }
}