@use '../../../styles/constants.scss' as *;
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;

    .wrapper {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .formContainer {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .inputWrapper {
                display: flex;
                justify-content: center;
                gap: 1rem;
                .inputContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .passwordWrapper {
                        position: relative;
                        display: flex;
                        width: 100%;
                        .password {
                            width: 100%;
                        }
                        .togglePassword {
                            position: absolute;
                            left: 10px;
                            top: 55%;
                            transform: translateY(-50%);
                            cursor: pointer;
                            color: #666;
                            }  
                    }

                    .name, .lastname, .email, .password {
                        padding: 1rem;
                        border-radius: 12px;
                        border: 1px solid #ccc;
                        background: rgba(255, 255, 255, 0.2);
                        backdrop-filter: blur(6px);
                        -webkit-backdrop-filter: blur(6px);
                        color: $primary;
                        transition: all 0.3s ease;

                        &::placeholder {
                            color: $primary;
                        }

                        &:focus {
                            background: rgba(255, 255, 255, 0.25);
                        }
                    }
                }
            }
            .submitBtn{
                margin-top: 1rem;
                border: none;
                width: 100%;
                font-size: 1rem;
                font-weight: bold;
                background-color: $blue;
                transition: all 0.3s ease;
                border-radius: 10px;
                padding: 1rem;
                cursor: pointer;
                color: $secondary-white;
                &:hover {
                    transform: scale(1.01);
                }
            }
        }
    }
}