@use '../../styles/constants.scss' as *;
@import '../../styles/mixins';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include desktop {
        padding: 2rem;
    }
    
    .wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 1rem;
        
        @include desktop {
            height: 40rem;
            width: 60rem;
            padding: 0;

        }
        .right {
            flex: 1.5;
        }
        
        .left {
            display: none;
            @include desktop {
                display: block;
                flex: 1.5;
                img {
                    height: 40rem;
                    width: 30rem;
                    object-fit: cover;
                    border-radius: 10px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }
}