@use '../../styles/constants.scss' as *;

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    .right {
        flex: 1.8;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left {
        flex: 1.2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}