@use '../../styles/constants.scss' as *;

.container {
    display: flex;
    justify-content: center;
    align-items: stretch; // خیلی مهم
    background-color: $secondary;
    border-radius: 10px;
    
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 100%;
        .right {
            flex: 1.7;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .left {
            height: auto;
            flex: 1.3;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}