@use '../../../styles/constants.scss' as *;
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
  .gooey {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 142px;
    // height: 40px;
    // margin: -20px 0 0 -71px;
    // background: white;
    // filter: contrast(20);
    .dot {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 12px;
      left: 15px;
      // filter: blur(4px);
      background: #000;
      border-radius: 50%;
      transform: translateX(0);
      animation: dot 2.8s infinite;
    }
    .dots {
      transform: translateX(0);
      margin-top: 12px;
      margin-left: 31px;
      animation: dots 2.8s infinite;
      span {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin-left: 16px;
        background: #000;
        border-radius: 50%;
      }
    }
  }

}

@keyframes dot {
  50% {
    transform: translateX(96px)
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px)
  }
}