@use '../../../styles/constants.scss' as *;
.navbar {
    top: 0;
    display: block;
    width: 100%;
    height: fit-content;
    position: relative;
    height: 90px;

    .container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem;
        @media (max-width:$sm){
          justify-content: space-between;
          padding: 0;
        }

        h1 {
          color: $primary;
        }
        .notifContainer {
          display: flex;
          justify-content: center;
          gap: 2rem;
          .search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
        
          
          .search__input {
            font-family: inherit;
            font-size: inherit;
            background-color: #fff;
            border: none;
            color: #646464;
            padding: 0.7rem 1rem;
            border-radius: 30px;
            width: 20rem;
            transition: all ease-in-out .5s;
            margin-left: -2rem;
            @media (max-width: $sm){
              width: fit-content;
            }

            &:hover, &:focus{
                box-shadow: 0 0 1em #00000013;
            }
            &:focus {
                outline: none;
                background-color: #fff;
            }
            &:focus, .search__button{
                background-color: #fff;
            }
            &::-webkit-input-placeholder {
                font-weight: 100;
                color: #616161;
            }
          }
          
          .search__button {
            border: none;
            background-color: #fff;
            margin-top: .1em;
            padding: 0;
            &:hover {
              cursor: pointer;
            }
            .search__icon {
              height: 1.3em;
              width: 1.3em;
              fill: #616161;
            } 
          }
          
        }

        .icons {
          position: relative;
          font-family: inherit;
          font-size: inherit;
          border: none;
          padding: 0.7rem 1rem;
          border-radius: 100%;
          width: fit-content;
          transition: all 300ms ease-in-out;
          svg {
            cursor: pointer;
            color: #646464;
          }
          .notifCounter {
            position: absolute;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center; 
            align-items: center;
            top: 1px;
            right: 1px;
            background-color: red;
            color: white;
            font-size: 12px;
            font-weight: bold;
            border-radius: 50%;
          }
          .notifList {
            position: absolute;
            background-color: $secondary-white;
            top: 4rem;
            left:-0.2rem;
            width: 30rem;
            background: #fff;
            border-radius: 12px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.15);
            z-index: 10;

            .header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 1rem;

              h3 {
                color: $primary;
              }
              
              button {
                padding: 0;
                background: transparent;
                color: $light-grey;
                text-decoration: underline;
              }
            }

            .body {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 12px 0;
              color: $primary;

              &::before {
                content: "";
                position: absolute;
                top: -8px;
                left: 24px; /* محل نوک */
                width: 16px;
                height: 16px;
                background: #fff;
                transform: rotate(45deg);
                box-shadow: -3px -3px 6px rgba(0,0,0,0.05);
              }
              ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                li {
                  padding: 1rem;
                  list-style: none;
                  box-shadow: -3px -3px 6px rgba(0,0,0,0.05);
                }
              }
            }
          }
        }
        }
        
    }
}