@use '../../../styles/constants.scss' as *;
@import '../../../styles/mixins';

.app {
  display: flex;
  flex-direction: column;
  background: transparent;
  
  @include desktop {
    background: $bg;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .7rem;

  @include desktop {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $surface;
  border-radius: 10px;
  border: 1px solid $border;
  overflow: hidden;
}

.content {
  padding: .7rem;
  flex: 1;

  @include tablet {
    padding: 24px 20px;
  }

  @include desktop {
    padding: 1rem;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .buttons {
    display: flex;
    gap: 2rem;

    .deleteBtn {
      background-color: $danger;
      color: $secondary-white;
    }

    .saveBtn {
      background-color: $blue;
      color: $secondary-white;
    }
	}
}