@use '../../../../styles/constants.scss' as *;
@import '../../../../styles/mixins';

.detailBox {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  color: $primary;
  
  @include desktop {
    height: 18rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;

    .detailIcon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: .3rem;
      flex-direction: row-reverse;
      color: $light-grey;
      font-size: 12px;
    }

    .detailList {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      hr {
        margin: .5rem;
        background-color: $secondary;
      }

      .lastLogin {
        display: flex;
        align-items: center;
        gap: .5rem;
        button {
          padding: .8rem;
          border-radius: 100%;
          background-color: #e4ecfb;
          svg {
            path {
              fill: $blue;
            }
          }
        }
        .lastLoginTime {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          color: $light-grey;

          span {
            color: $primary;
          }
        }
      }

      .insuranceList {
        position: relative;
        display: flex;
        align-items: center;
        gap: .5rem;

        .insuranceDetail {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          color: $light-grey;

          span {
            color: $danger;
          }
        }
        button {
          padding: .8rem;
          border-radius: 100%;
          background-color: #fae2e4;
          svg {
            path {
              fill: $danger;
            }
          }
        }
        .viewInsuranceList {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          border-radius: 5px;
        }
      }

      .insuranceStatus {
        display: flex;
        align-items: center;
        gap: .5rem;
        button {
          padding: .8rem;
          border-radius: 100%;
          background-color: #e8e5e5;
          svg {
            path {
              fill: $primary;
            }
          }
        }
        .insuranceStatusDetail {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          color: $light-grey;

          .insured {
            color: green;
            display: flex;
            align-items: center;
            gap: 0.2rem;
          }
          .notInsured {
            color: red;
            display: flex;
            align-items: center;
            gap: 0.2rem;
          }
        }
      }
      // li {
      //   font-size: 0.9rem;
      //   display: flex;
      //   align-items: center;
      //   gap: 0.5rem;

      //   .insured {
      //     color: green;
      //     display: flex;
      //     align-items: center;
      //     gap: 0.2rem;
      //   }
      //   .notInsured {
      //     color: red;
      //     display: flex;
      //     align-items: center;
      //     gap: 0.2rem;
      //   }
      //   button {
      //     color: $primary;
      //     font-size: 0.8rem;
      //     padding: 0.2rem 0.5rem;
      //     border-radius: 5px;
      //   }
      // }
    }
  }
}
.modalTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: $primary;
}
.noInsuranceList {
  display: flex;
  flex-direction: column;
  color: $primary;
  gap: .5rem;

  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    .rightItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: .5rem;

      .rowNum {
        display: flex;
        color: $gray;
        padding: .1rem .5rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }

      .userInfo {
        display: flex;
        flex-direction: column;
      }

      .userBaseInfo {
        display: flex;
        gap: .5rem;
        justify-content: flex-start;
        align-items: center;
        font-size: 11px;

        .expired {
          border: 1px solid $red;
          background-color: $red-light;
          color: $red;
          border-radius: 20px;
          padding: .1rem .3rem;

          &.noDate {
            border: 1px solid $gray;
            background-color: $gray-light;
            color: $gray;
          }
        }
      }
    }
    .editBtn {
      background-color: $blue-light;
      color: $blue;
      padding: .3rem;
      
      @include desktop {
        margin-right: 5rem;
      }

      svg {
        width: 1.1rem;
      }
    }
    
  }
}