@use '../../../styles/constants.scss' as *;
.card {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 12px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      font-size: 20px;
      cursor: pointer;
      color: #999;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 8px;
      border: none;
      font-size: 20px;
    }
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    color: $primary;
  }

  .description {
    font-size: 14px;
    color: #777;
    line-height: 1.5;
  }

  .mainButton {
    margin-top: auto;
    background: #2f6bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: #2457d6;
    }
  }
}
