.home {
    position: relative;
    background-color: #333;
    width: 100%;
    height: 100vh;
    .content {
        position: absolute;
        z-index: 10;
        pointer-events: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}