@use '../../../../styles/constants.scss' as *;
.container {
  background: #fff;
  border-radius: 12px;

  .wrapper {
    display: flex;
    flex-direction: column;
    .toolbar {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 1rem;

      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        button {
          padding: .5rem;
        }
      }

      select {
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid #ddd;
      }

      button {
        margin-right: 8px;
      }
      .inputWrapper {
        position: relative;
        width: 30%;
        display: flex;
        .searchInput {
          width: 100%;
          padding: 8px 12px;
          border-radius: 8px;
          border: 1px solid #ddd;
        }
        .clearSearch {
          position: absolute;
          left: 0;
          margin-left: 2px;
          cursor: pointer;
          padding: .5rem;
          color: $primary;
        }
      }
    }
    .tableContainer {
      padding: 1rem 2rem;
       .table {
          width: 100%;
          border-collapse: collapse;
          font-size: 14px;
          color: $primary;

          thead {
            background: #f6f6f6;

            th {
              padding: 12px;
              text-align: right;
              font-weight: 600;
              border-bottom: 2px solid #e3e3e3;
            }
          }
          tbody {
            tr {
              transition: 0.2s;

              &:hover {
                background: #fafafa;
              }

              td {
                padding: 10px;
                text-align: right;
                border-bottom: 1px solid #eee;
              }
              .students {
                display: flex;
                gap: 1rem;
                align-items: center;

                img {
                  width: 36px;
                  height: 36px;
                  border-radius: 50%;
                }

                span {
                  font-size: 12px;
                  color: #777;
                }
              }
              .btnContainer {
                display: flex;
                gap: .5rem;
                button {
                  background-color: transparent;
                  padding: 0;
                }
              }
            }
          }
        }
    }
  }
}

.badge {
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 12px;
}

.Paid { background: #e6f9ee; color: #1c9c5d; }
.Pending { background: #fff4e5; color: #f59e0b; }
.Overdue { background: #fde8e8; color: #e02424; }

.pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  button {
    padding: .5rem;
  }
}

.activePage {
  background: #2563eb;
  color: #fff;
}

.deleteModal {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .buttons {
      display: flex;
      gap: 2rem;

      .deleteBtn {
        background-color: $danger;
        color: $secondary-white;
      }
    }
  }