@use '../../../styles/constants.scss' as *;
.filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $primary;
    .filterHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .filterContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .filterParent{
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 2rem;

            .filterWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}

// check box style
.ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

.ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

.ikxBAC,
.ikxBAC::after {
    transition: all 100ms ease-out;
  }

.ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

input[type=checkbox] {
    cursor: default;
  }

.ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

.ikxBAC:checked {
    background-color: #6e79d6;
  }

.ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

:focus:not(.focus-visible) {
    outline: 0;
  }

.ikxBAC:checked:hover {
    background-color: #535db3;
  }
// end of checkBox style