@use '../../../styles/constants.scss' as *;
@import '../../../styles/mixins';

.NotifList {
	color: $primary;
  display: flex;
  flex-direction: column;
	.container {
		display: flex;
		flex-direction: column;
    background-color: transparent;
    gap: .7rem;
    
    @include desktop {
      background-color: $bg;
      gap: 1rem;
    }

		.header {
      display: flex;
      flex-direction: column;
      padding: .7rem;
      gap: .7rem;
      align-items: start;
      background: transparent;
      
      @include desktop {
        background: $surface;
        padding: 1rem;
      }

      .wrapper {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        
        @include desktop {
          justify-content: space-between;
        }
      }

      .headerTitle {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: flex-start;
        .notifCount {
          font-size: 11px;
          font-weight: bold;
          color: $white;
          background-color: $blue;
          border-radius: 20px;
          padding: .1rem .3rem;
          
          @include desktop {
            font-size: 14px;
          }
        }

        .subtitle {
          font-size: 12px;
          color: $text-sub;

          @include tablet {
            font-size: 13px;
          }
        }
      }
      .actions {
        position: absolute;
        display: flex;
        gap: 0.7rem;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;

        @include desktop {
          position: unset;
        }

        .markAllRead {
          padding: 0;
          background-color: transparent;
          font-size: 14px;
          gap: .3rem;
          color: $blue;
          flex-direction: row-reverse;
          svg {
            width: 1rem;
          }
          }
          &.disabled {
            span {
                background-color: #cfcecf;
                cursor: not-allowed;
                transition: none;
              }
            }
      }

			}

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .1rem;
        background-color: $surface;
        border-radius: 10px;
        
        @include desktop {
          padding: 1rem;
          background-color: transparent;
        }

        .contentContainer {
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          background-color: transparent;
          padding: .7rem;
          gap: 1rem;
          
          @include desktop {
            padding: 1rem;
            background-color: $surface;
          }
        }
        .toolbar {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 1rem;
          
          @include desktop {
            align-items: center;
          }
          .btnContainer {
            width: auto;
            display: flex;
            gap: 1rem;
            
            @include desktop {
              width: 50rem;
            }

            .filterObj {
              background-color: $white;
              padding: .3rem;
              font-size: 14px;
              color: $light-grey;
              border: 1px solid rgba($color: #333, $alpha: 0.2);
              transition: background 300ms ease;

              &.active {
                background-color: $blue;
                
                color: $white;
                border-color: transparent;
              }

              &:hover {
                background-color: $blue;
                color: $white;
                border-color: transparent;
              }
            }
          }
        }
        .contentWrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          .skleteonContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
          }

          .cardContainer {
            display: flex;
            flex-direction: column;
            gap: .7rem;
            width: 100%;

            h3 {
              font-weight: 600;
              font-size: 14px;
              align-items: start;
              color: $light-grey;
            }
          }
        }
      }
	}

  .paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
	.deleteModal {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.buttons {
			display: flex;
			gap: 2rem;

			.deleteBtn {
					background-color: $danger;
					color: $secondary-white;
			}

      .saveBtn {
        background-color: $blue;
        color: $secondary-white;
      }
	}
}
}