@use '../../../styles/constants.scss' as *;
.sidebar {
  @media (max-width: $sm) {
    // top: auto;
    bottom: 0;
    width: 100%;
    height: 5rem;
    flex-direction: row;
    padding-top: 0;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $md) {
    top: 0;
    right: 0;
  }
    width: 250px;
    height: 100%;
    background-color: $primary;
    color: white;
    position: fixed;
    transition: right 0.3s ease;
    z-index: 1000;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .logo {
      @media (max-width: $sm) {
        display: none;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;

      img {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
      }
    }
  
    .sidebarLinks {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 1rem;
      gap: 1.2rem;
      @media (max-width: $sm) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
  
      li {
        border-radius: 10px;
        cursor: pointer;

        span {
          @media (max-width: $sm){
            display: none;
          }
        }
        a, .logoutButton {
          padding: .7rem;
          padding-right: 2rem;
          font-size: 16px;
          font-weight: bold;
          color: $secondary-white;
          text-decoration: none;
          display: flex;
          flex-direction: row-reverse;
          justify-content: right;
          align-items: center;
          gap: 2rem;
          transition: all 300ms ease;

          &:hover {
            color: #fff;
            transform: scale(1.1); 
          }
          svg {
            width: 1.7rem;

            path {
              fill: #f4f2f2;
            }
          }
        }

          &:last-child {
            @media (max-width: $sm) {
              position: relative;
              margin: 0;
              width: fit-content;
            }
            position: absolute;
            bottom: 3rem;
            margin-right: 2rem;
            .logoutButton {
              background-color: transparent;
              cursor: pointer;
              background-color: #3b82f6;
              border: none;
              border-radius: 10px;
            }
          }
        }
        .active {
          background-color: #3b82f6;
          a {
            transform: scale(1.1);
            color: #fff;
          } 
        }
      }
    }
