@use '../../styles/constants.scss' as *;
@import '../../styles/mixins';

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //margin-top: 5rem;
    gap: .3rem;
    @include desktop {
      flex-direction: row;
      margin-top: 1rem;
      gap: 1rem;
      height: 18rem;
    }
    .right {
      @include desktop {
        flex: 2;
      }
    }
    .left {
      @include desktop {
        flex: 1;
      }
    }
  }

  .userContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include desktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}